@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500;800&display=swap');
:root{
    --color1: #e4ecf4;
    --color2: #071017;
    --color3: #c28080;
    --color4: #101f27;
    --color5: #b10005;
    --color6: #000000;
    --font1: "MuseoModerno";
    --font2: "Stick No Bills";
}
body,html{
    color: var(--color1)!important;
    background-color: var(--color2)!important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: var(--font1)!important;
    text-decoration: none;
}
a{
  text-decoration: none!important;
  color: #e4ecf4!important;
}
.title{
    text-transform: uppercase;
    font-size: 12em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu .icono{
  margin: 0 0 0 240px;
}
.menu {
  font-family: var(--font2);
  display: inline-block;
  cursor: pointer;
  font-size: 32px;
  top: 20px;
  left: 20px;
  margin: 25px;
  width: 95%;
}
.label {
  display: inline-block;
  cursor: pointer;
}
.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.5s ease;
  transition-delay: 0.1s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 20px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
.item:hover span {
  color: var(--color3);

}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
body::-webkit-scrollbar {
  width: 12px; 
}
body::-webkit-scrollbar-track {
  background: transparent;   
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color4);
  border-radius: 10px;
}
.container .row div {
  margin: auto 0;
}
.container .row div h1 {
  font-size: 70px;
}
#container-supremo .cuadrado{
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75) inset;
  height: 100%;
  width: 50%;
  background-color: var(--color4);
  position: absolute;
}
#container-supremo{
  margin: 0!important;
  padding: 0!important;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
#container-supremo #container-hijo1{
    display: flex;
    align-items: center;
    height: 50%;
}
#container-supremo #container-hijo2{
  display: flex;
  align-items: center;
  height: 50%;
}
#container-supremo #container-hijo1 .row{
  width: 100%;
  text-align: center;
}
#container-supremo #container-hijo2 .row{
  width: 100%;
  text-align: center;
}
footer{
  margin: 50px 0 0 0 ;
  height: 20%;
  background-color: var(--color6);
}
footer p{
  padding: 50px 0;
  text-align: center;
}